<div id=logo><p>Logo</p></div>
<div id=container_center>
    <h2>Hello visiteur, welcome to my website</h2> 
</div>
<div id=container_identification>
    <a  href=""><p>Register</p></a>
    <a  href=""><p>Login</p></a>
</div>

